* {
    font-family: 'Fraunces', serif;
    color: #fff;
}

body {
    margin: 0; 
    background-color: #224870;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #4A90D2;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #46102D;
    box-shadow: 5px 5px 10px -3px  #000040 , -5px -5px 15px 3px rgb(184, 98, 172)   ;
}

button:active{
    background-color: #17F09A;
}
button:focus {
    outline: none;
}